    * {
      font-size: 18px;
      color: rgb(207, 206, 206);
    }

    html {
      font-family: monospace;
      max-width: 1000px;
      /* For Desktop PC (see @media for Tablets/Phones) */
      padding-left: 2%;
      padding-right: 3%;
      margin: 0 auto;
      background: #1d1d1d;
    }

    hr {
      color: gold;
    }

    a {
      color: snow;
      font-weight: bold;
    }

    img {
      max-width: 900px;
      width: 100%;
      border: none;
    }

    figure {
      width: 50%;
      border: thin whitesmoke dashed;
      margin-left: 2em;
      padding: 0.69em;
      padding-left: 1em;
      padding-right: 1em;
    }

    figure.right {
      float: right;
      margin-right: 0em;
    }

    figure.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      /* style="  display: block;margin-left: auto;margin-right: auto;width: 50%;" */
    }

    figcaption {
      margin-top: 1ch;
      margin-bottom: 0.5ch;
      text-align: center;
      font-style: italic;
      font-size: smaller;
    }

    p {
      margin-top: 0px;
      text-align: justify;
    }

    sup {
      vertical-align: 0.4em;
      font-size: 0.8em;
    }

    sup.footnote-ref a {
      font-size: inherit;
      color: turquoise;
    }

    sub {
      font-style: italic;
      vertical-align: -0.25em;
      font-size: 0.8em;
    }

    code {
      font-size: 104%;
      /* font-style: italic; */
      background-color: rgb(60, 60, 75);
      padding-left: 0.3ch;
      padding-right: 0.3ch;
      color: greenyellow;
    }

    pre>code {
      display: block;
      background-color: rgb(12, 12, 12);
      border: 1px solid gainsboro;
      padding-left: 2%;
      padding-top: 1ch;
      padding-bottom: 1ch;
      overflow: scroll;

      /* Overwrite code CSS */
      font-size: inherit;
      font-style: inherit;
      color: inherit;
    }

    h1 {
      font-size: 22px;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 4ch;
      margin-bottom: 1ch;
    }
    h2, h3, h4 {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 4ch;
      margin-bottom: 1ch;
    }

    h1:before {
      content: "# ";
      color: greenyellow;
    }

    h2:before {
      content: "## ";
      color: greenyellow;
    }

    h3:before {
      content: "### ";
      color: greenyellow;
    }

    h4:before {
      content: "#### ";
      color: greenyellow;
    }

    table {
      border-spacing: 1ch;
    }

    th {
      text-align: justify;
    }

    @media (max-width: 500px) {

      /* For small screen decices */
      * {
        font-size: 12px;
      }
      h1, h2, h3 {
        font-size: 14px;
      }
    }

    .title {
      text-decoration: none;
    }

    img.pixel, canvas.pixel {
      image-rendering: pixelated;
      image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges;
    }

    blockquote {
      border: dashed 1px gainsboro;
      width: 97.5%;
      font-style: italic;
      text-align: justify;

      padding: 1ch;
      /* padding-top: 2ch; */
      /* padding-bottom: 2ch; */

      margin: 0ch;
      margin-bottom: 2ch;
      margin-top: 0ch;
    }

    blockquote div {
      text-transform: none;
      text-align: right;
      width: 100%;
    }

    details>summary {
      font-style: italic;
      background-color: rgb(40, 40, 40);
      padding: 2px 6px;
      border: 1px outset;
      border-color: black;
      border-width: small;
      cursor: pointer;
    }

    details>p {
      /* border-radius: 0 0 10px 10px; */
      background-color: black;
      padding: 2px 6px;
      margin: 0;
    }